@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --prColor:red(0, 100%, 67%);
    --dzColor:yellow(39, 100%, 56%);
    --trColor: Green teal(166, 100%, 37%);
    --qtColor:blue(234, 85%, 45%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", system-ui;
    

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  

}
section{
    width: 50%;
    height: 60vh;
    box-shadow: 1px 2px 10px rgb(109, 100, 100) ;
display: flex;
border-radius: 15px;
}
article{
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to top ,blue,rgb(120, 120, 211));
color: white;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content:space-evenly;
border-radius: 15px;

}
.div{
    font-size: 15px;
    font-weight: 200;
}
article h1{
    font-size: 40px;
    font-weight: 700;

}
article p{
    font-size: 10px;
    font-weight: 100;

}
.circle{
    background-color: rgb(60, 60, 189);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
flex-direction: column;
justify-content: center;

}
aside{
    width: 50%;
    height: 100%;
 background-color: white;
color:black;
display: flex;
flex-direction: column;
padding-inline: 30px;
padding-block: 30px;

text-align: left;
justify-content: space-between;
border-radius: 15px;


}
.sum{

    height: 15%;
    font-size: 20px;
    font-weight: bold;
}
.prcn{
    

display: flex;
flex-direction: column;
justify-content:space-evenly ;

    
height: 60%;

gap: 5px;
}
.prcn #re{
    background-color: rgb(226, 225, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius:10px ;
    color: rgb(219, 89, 66);
    font-size: 12px;
    font-weight: bold;
}
.prcn #ma{
    background-color: rgb(206, 206, 203);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius:10px ;
    color: rgb(233, 230, 35);
    font-size: 12px;
    font-weight: bold;
}
.prcn #ve{
    background-color: rgb(219, 226, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius:10px ;
    color: rgb(10, 180, 38);
    font-size: 12px;
    font-weight: bold;
}
.prcn #vi{
    background-color: rgb(207, 207, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius:10px ;
    color: rgb(27, 13, 221);
    font-size: 12px;
    font-weight: bold;
}

 .prcn p{
    font-size: 15px;
    font-weight: bold;
} 

.btn{

height: 25%;
display: flex;
align-items: center;
justify-content: center;
}
.btn button{ 
    background-color:midnightblue;
padding-block: 10px;
padding-inline: 30px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
color: white;
border-radius: 22px;
border: none;
}